<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{{title}}}</title>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
	<style>
	div.wrapper {
		padding-left: 15px;
		padding-right: 15px;
	}
	</style>

</head>

<body height="100%">
    <script src="/lib/js/jquery-1.10.2.min.js"></script>
    <script src="/lib/js/bootstrap.min.js"></script>
	<div class="wrapper">
		<div class="row">
			<div class="col-md-8" style="background-color:#ADEBAD;">&nbsp;</div>
			<div class="col-md-4 text-right" style="background-color:#ADEBAD; color:#6B6C6B;"><a href="#">Contact Us</a></div>
		</div>
		<div class="row">
			<div class="col-md-12" style="background-color:#ADEBAD">Name of our product</div>
		</div>
	</div>
    <div class="container">
        {{{body}}}
    </div>
</body>

</html>