<div class="row">
    <div class="col-xs-12">
        {{#if err}}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error:</strong> {{{err}}}
        </div>
        {{/if}} {{#if message}}
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success:</strong> {{{message}}}
        </div>
        {{/if}}
		<div class="row" height="100%">
				<form class="col-xs-8 col-md-6" action="" method="post">
				<h1 class="text-center"><b>Contact Us</b></h1>
				<p class="text-center">Please fill in your information below and we will get back to you as soon as possible.</p>
					<div class="form-group">
						<label for="email">Email: </label>
						<input type="email" class="buff5 form-control" name="email" placeholder="Email" required/>
					</div>
					<div class="form-group">
						<label for="firstname">First Name: </label>
						<input type="text" class="buff5 form-control" name="firstname" placeholder="First Name" required/>
					</div>
					<div class="form-group">
						<label for="lastname">Last Name: </label>
						<input type="text" class="buff5 form-control" name="lastname" placeholder="Last Name" required/>
					</div>
					<div class="form-group">
						<label for="phone">Phone Number: </label>
						<input type="tel" class="buff5 form-control" name="number" placeholder="Phone Number" required/>
					</div>
					<div class="form-group">
						<label for="msg">Message / Inquiry: </label>
						<textarea type="text" class="buff5 form-control" name="msg" placeholder="Message or Inquiry" required></textarea>
					</div>
					<button class="buff5 btn btn-primary pull-right" type="submit" style="background-color:#ADEBAD; border-color:#9CD49C; color:#101510">Submit</button>
				</form>
				<div class="col-xs-8 col-md-1 text-left">&nbsp;</div>
				<div class="col-xs-8 col-md-5" style="background-color:#E2E2E2; height:575px; overflow:hidden;">
					<br/><br/><br/><br/><h4>Fusion Labs Collaborative Systems</h4>
					<address>
					  <strong>Wilfrid Laurier University</strong><br>
					  75 University Avenue West<br>
					  Waterloo, ON N2L 3C5<br>
					  Phone: (519) 466-0595
					</address>
					<p>Carlie Ferguson | 100259440 <br/>Reese Garth | 100136270<br/>Robin Tang | 100308330 </br></p>
					<p><strong>CP476 Final Project</strong><br/>Due: April 6, 2015<br/>Professor: Dr. Fan</p>
				</div>	
		</div>
    </div>
</div>