<div class="row">
    <div class="col-xs-12">
        {{#if err}}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error:</strong> {{{err}}}
        </div>
        {{/if}} {{#if message}}
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success:</strong> {{{message}}}
        </div>
        {{/if}}
		<div class="row">
				<h1 class="text-center"><b>Login to your account</b></h1>
				<form class="col-xs-offset-3 col-xs-6 col-xs-offset-3" action="" method="post">
					<div class="form-group">
						<label for="username">User Name: </label>
						<input type="text" class="buff5 form-control" name="username" placeholder="User Name" required/>
					</div>
					<div class="form-group">
						<label for="password">Password: </label>
						<input type="password" class="buff5 form-control" name="password" placeholder="Password" required/>
					</div>
					<p class="buff5">Don't have an account? Click <a href="#">here</a> to register.</p>
					<button class="buff5 btn btn-primary pull-right" type="submit" style="background-color:#ADEBAD; border-color:#9CD49C; color:#101510">Login</button>
				</form>
		</div>
    </div>
</div>