<link rel="stylesheet" type="text/css" href="/css/select2.min.css">
<div class="row">
    <form action="" method="post">
        <div class="col-xs-12">
            <h1><b>Suggested Drinks</b></h1>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <h4><b>Please pick your favourite ingredients!</b></h4>
        <select class="form-control choose-likes" name="like" multiple="multiple">
        </select>
        <br/>
        <br/>
        <h4><b>Please pick your ingredients you do not want.</b></h4>
        <select class="form-control choose-dislikes" name="dislikes" multiple="multiple">
        </select>
        <button type="submit" class="buff5 btn btn-primary pull-right">Randomize</button>
    </form>
</div>
<div class="row">
    <div class="col-xs-12 text-right">
        {{{result}}}
    </div>
    <script src="/js/select2.full.js"></script>
    <script>
    var options = ['blue curacao', 'chocolate liquor', 'coffee', 'coke', 'gin', 'hot sauce', 'melon liqueur', 'orange juice', 'peanuts', 'pepsi', 'rum', 'rye', 'sour puss', 'sprite', 'sweet and sour', 'vodka', 'whiskey'];
    $(".choose-likes").select2({
        data: options
    });
    $(".choose-dislikes").select2({
        data: options
    });
    </script>