<style>
.top-buffer {
	margin-top:20px;
}
</style>
<script>

</script>
<div class='col-xs-12'>
	<h2>Make your own drink!</h2>
</div>

<div class='col-xs-12 text-center'>

	<div ng-controller="AlcoholicDrinksCtrl">
	<div class='details' style='display:none'>
		Not satisfied with your results? Try it again!
	</div>
	<div data-ng-repeat="drink in alcoholicDrinks">
	{{drink.name}}
	<p>{{drink.ingredients}}</p></div>
	<div class='ingredients'></div>
	<button type="button" class='btn btn-info randomize'>Randomize!</button>
	<button type="button" class='btn btn-info respin' style='display:none'>Retry!</button>
	</div>
</div>

<script>

	$(document.body).on('click', '.randomize', function() {
		$('.randomize').hide();
		$('.details').fadeIn('slow');
		$('.respin').fadeIn('slow');
	});
	
	$(document.body).on('click', '.respin', function() {
	mixItUp();
		//randomize again
	});
</script>