<style>
.top-buffer {
	margin-top:20px;
}
</style>
<div class='col-xs-12'>
	<h2>Make your own drink!</h2>
</div>

<div class='col-xs-12 text-center'>

	<div ng-controller="AlcoholicDrinksCtrl">
	<div class='details' style='display:none'>
		Not satisfied with your results? Try it again!
	</div>
	<div class="drink">
		<b>{{drink.name}}</b>
		<div ng-repeat-start="item in drink.ingredients">
			{{item.ingredient}}
			<span ng-if="item.cl" class="animate-if">
			{{item.cl}} parts
			</span>
			{{ item.special }}
		</div>
		<div ng-repeat-end>
		</div>
	</div>
	<div class='ingredients' ng-repeat-end></div>
	<button type="button" class='btn btn-info randomize' ng-click="drink=randomize()">Randomize!</button>
	<button type="button" class='btn btn-info respin' ng-click="drink=randomize()" style='display:none'>Retry!</button>
	</div>
</div>

<script>

	$(document.body).on('click', '.randomize', function() {
		$('.randomize').hide();
		$('.details').fadeIn('slow');
		$('.respin').fadeIn('slow');
	});
</script>