<div>
	<form action="/item/add" method="POST">
		<span><label>Name</label>
		<input style="display:block;" type="text" name="name"></span>
		<span><label>Price</label>
		<input style="display:block;" type="number" step="0.01" name="price"></span>
		<span><label>Ingredients</label>
		<input style="display:block;" type="text" name="ingredients"></span>
		<span><label>Glass Type</label>
		<input style="display:block;" type="text" name="glass"></span>
		<span><label>Garnish</label>
		<input style="display:block;" type="text" name="garnish"></span>
		<span><label>Category</label>
		<input style="display:block;" type="text" name="category"></span>
		<span><label>Description</label>
		<input style="display:block;" type="text" name="desc"></span>
		<button type="submit">Submit</button>
	</form>
</div>