<div class="row">
    <div class="col-xs-12">
		<h1 class="text-center">The Lounge Data</h1>
		<br/>
		<div class="col-xs-12">
			<h4>Top Drink at The Lounge</h4>
			<p>This week's top drink was drink. Percentage% of drinks were drink.</p>
		</div>
		<div class="col-xs-12">
			<h4>Drinks ordered each day</h4>
			<p>putting a graph in here.</p>
		</div>
    </div>
	<div class="col-xs-12">				
		<div class="col-xs-12">
			<h4>Item views versus number of times item has been ordered</h4>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Drink</th>
						<th>Number of views</th>
						<th>Number of orders</th>
					</tr>
				</thead>
				<tbody>
					{{#each items}}
					<tr>
						<td>{{name}}</strong></td>
						<td>{{views}}</td>						
						<td>orders</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>	
</div>