<div class="row">
    <div class="col-xs-12">
		<h1 class="text-center">The Lounge Data</h1>
		<br/>
		<h3>Weekly Statistics</h3>
		<div class="col-xs-6">
			<h4>Drink of the week</h4>
			<p>This week's top drink was drink. Percentage% of drinks were drink.</p>
		</div>
		<div class="col-xs-6">
			<h4>Drinks ordered each day</h4>
			<p>putting a graph in here.</p>
		</div>
    </div>
	<div class="col-xs-12">
		<div class="col-xs-6">
			<h4>Five favourite drink ingredients</h4>
			<ol>
				<li>carlie</li>
				<li>Rob</li>
				<li>Reese</li>
				<li>Reese</li>
				<li>Rob</li>
			</ol>
		</div>
		<div class="col-xs-6">
			<h4>Five least favourite drink ingredients</h4>
			<ol>
				<li>carlie</li>
				<li>Rob</li>
				<li>Reese</li>
				<li>Reese</li>
				<li>Rob</li>
			</ol>
    </div>
</div>