<html>
<head>
	<link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="C:\Users\Carlie\Documents\GitHub\makeadrink\public\css\bootstrap.min.css">
    <link rel="stylesheet" href="C:\Users\Carlie\Documents\GitHub\makeadrink\public\css\styles.css">
</head>
<body>
	<br/>
	<br/>
	<div class="text-center">
		<img src="C:\Users\Carlie\Documents\GitHub\makeadrink\public\img\bev2.jpg">	
		<img src="C:\Users\Carlie\Documents\GitHub\makeadrink\public\img\bev.jpg">
		<img src="C:\Users\Carlie\Documents\GitHub\makeadrink\public\img\bev2.jpg">	
	</div>
	<div class="row col-xs-12" style="background-color:#FFFFFF; height:50%">
		<div class="col-xs-12">
			<div>
			<br/><br/>
			<h1 style="font-family:Trebuchet MS, Helvetica, sans-serif;"><em>Welcome to The Lounge</em></h1>
		</div>
		<div class="col-xs-12" style="background-color:#666666; height:6px;">
			&nbsp;
		</div>
		<div class="col-xs-12" style="background-color:#000000; height:6px;">
			&nbsp;
		</div>
	</div>
	<div>
	<div class="row col-xs-12 center-text">
		<table>
			<tr><td><iframe src="C:\Users\Carlie\Documents\GitHub\makeadrink\public\js\graphics.html" frameborder="0" overflow="hidden" scrolling="no"></iframe>
				</td><td><p><i>It is better to spend money like there is no tomorrow then to spend tonight like there is no money.</i></p>
			</tr>
		</table>
	</div>
</body>
</html>