{{#if customer}}
	<h2>Menu</h2>
	<div>
		<form action="/menu" method="GET">
			<table class="table table-striped">
				<tr>
					<td>Name</td>
					<td>Price</td>
					<td>Description</td>
					<td></td>
				</tr>
				{{#each items}}
					<tr>
						<td>{{name}}</td>
						<td>{{price}}</td>
						<td>{{desc}}</td>
						<td><a class="btn btn-default" href="/item/edit/{{id}}" role="button">Edit</a></td>
					</tr>
				{{/each}}
			</table>
		</form>
		<a class="btn btn-default" href="/item/add" role="button">Create</a>
	</div>
{{else}}
	<div class="row">
		<div class="col-md-6">
			<h2>Menu</h2>
		</div>
		<div class="col-md-6">
			<a class="btn btn-default" href="/order/all" role="button">View Order</a>
		</div>
	</div>
	<div>
		<form action="/menu" method="GET">
			<table class="table table-striped">
				<tr>
					<td>Name</td>
					<td>Price</td>
					<td>Description</td>
					<td></td>
				</tr>
				{{#each items}}
				<tr>
					<td>{{name}}</td>
					<td>{{price}}</td>
					<td>{{desc}}</td>
					<td><button type="button" class="btn btn-md" data-toggle="modal" data-target="#addItem">Add</button><a class="btn btn-default" href="/item/edit/{{id}}" role="button">More Info</a></td>
				</tr>
				{{/each}}
				<div class="modal fade" id="addItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title">Add Item</h4>
							</div>
							<div class="modal-body">
								<label for="quantity">Quantity<input type="number" step="1" value="0" id="quantity"></label>
								<label for="specReq">Special Request<input type="text" id="specReq"></label>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				        		<button type="button" class="btn btn-primary" id="btnAddItem">Add To Order</button>
				        	</div>
						</div>
					</div>
				</div>
			</table>
		</form>
	</div>

	<script src="/js/utility.js" type="text/javascript"></script>
	<script type="text/javascript">
		$('#btnAddItem').on('click', function () {
			var data = {
				"quantity": utility.getElementValueByID("#quantity"),
				"specReq": utility.getElementValueByID("#specReq")
			};

			$.post("/order/add/{{items.id}}", {data: JSON.stringify(data)}, function(err, result) {
				$("#form-output").html(result);
			});
		});
	</script>
	
{{/if}}